footer {
    background-color: cornflowerblue;
    display: flex;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.social>a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.social>a:last-of-type {
    margin-right: 0px;
}

.social a:hover {
    color: #76AEED;
}

@media screen and (max-width: 699px){

    footer > *,
    footer .social a {
        font-size: .8rem;
        margin-right: 0;
        margin-left: 0;
    }
}
