* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Piccola good practice per avere sempre un DOM almeno grande quanto lo schermo */
html, body{
    width: 100vw; /* vw è un parametro di lunghezza dato dalla viewport dello schermo https://www.w3schools.com/css/css_rwd_viewport.asp*/
    min-height: 100vh; /* Come sopra */
}

@font-face {
    font-family: "avenir-next";
    src: url("./assets/font/avenir-next.woff") format("woff");
}

body {
    font-family: "avenir-next", sans-serif;
    font-size: 18px;
    line-height: 1.8em;
    background-color: #f5f5f5;
}


.header {
    background-color: cornflowerblue;
    display: flex;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-between;
}

a:hover {
    cursor: pointer;
}

.link {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.link > a {
    margin-right: 30px;
    margin-left:10px;
    text-decoration: none;
    color: white;
}

.logo {
    margin-left: 30px;
}

.Aboutme {
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px cornflowerblue;
    padding: 50px;
    align-items: center;
}

.fotoprofilo {
    padding-bottom: 20px;
}

.bio {
    display: flex;
    flex-direction: column;
}

h2 {
    font: bold;
    font-size: 50px;
}

.Skills {
    border-bottom: solid 2px cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.LoghiSkills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.HTMLimg {
    width: 10%;
    height: 10%;
    min-width: 120px;
    min-height: 120px;
}

.CSSimg {
    width: 12%;
    height: 11%;
    min-width: 145px;
    min-height: 140px;
}

.Contactme {
    border-bottom: solid 2px cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.input .message .submit {
    border-radius: 50px;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 7px;
}

.form-row input[type="text"] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 10px;
    font-size: 14px;
    padding: 7px;
}

.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    border: 1px solid #D6D9DC;
    min-height: 100px;;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 7px;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #5995DA;
    border:none;
    border-radius: 3px;
    cursor: pointer;
    padding: 7px;
}

.form-row button:hover {
    background-color: #76AEED;
}

footer {
    background-color: cornflowerblue;
    display: flex;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.social {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.social>a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    margin-left:10px;
}

.social>a:last-of-type {
    margin-right: 0px;
}

.social a:hover {
    color: #76AEED;
}

.formcontatti {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* gap è un attributo che permette di definire uno spazio tra due nodi all'interno di un nodo flex */
    /* A me piace usare rem o em come unità di misura perchè si basano sul font-size della pagina o dell'elemento, così scalano insieme alla pagina. https://www.w3schools.com/cssref/css_units.asp */
}

@media screen and (min-width: 700px) {
    .Aboutme {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        border-bottom: solid 2px cornflowerblue;
        padding: 50px;
        flex-wrap: nowrap;
    }

    .contact-form {
        max-width: 500px;
    }

    .formcontatti {
        display: flex;
        flex-direction: row;
        justify-self: center;
    }

    .fotoprofilo {
        padding-bottom: 150px;
    }
}

/*Aggiunta di un blocco per gestire gli schermi più piccoli di un tot, così da gestire i casi limite. */
/*Ho tolto i margini degli elementi del footer, ma se uno vuole può anche metterli più piccoli e in colonna*/
@media screen and (max-width: 699px){
    .header .link{
        flex-direction: column;
    }

    .header .link >a {
        margin-inline: 0;
    }

    footer > *,
    footer .social a {
        font-size: .8rem; /* mette la font-size come l'80% del font-size del body */
        margin-right: 0;
        margin-left: 0;
    }
}
